h1{
	font-size:27px;
	text-decoration: underline;
}
h2{
	font-size: 30px;
    text-decoration:blink;
}
span{
	font-size: 38px;
}
body{color: white;background-color:black}
p{
	text-align: center;
	color: cyan;
	font-size: 70px;
}